{
  "extends": "makeomatic",
  "parser": "babel-eslint",
  "rules": {
    "prefer-destructuring": ["error", {
      "VariableDeclarator": {
        "array": false,
        "object": true
      },
      "AssignmentExpression": {
        "array": true,
        "object": false
      }
    }, {
      "enforceForRenamedProperties": false
    }],
    "object-curly-newline": 0,
    "promise/no-native": "off"
  }
}
