<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Attached social account</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script>
      var opener = window.opener;
      if (opener) {
        opener.postMessage({
          token: '{{ token }}',
          provider: '{{ provider }}',
          completed: true
        }, '{{ targetOrigin }}');
      }
      // close the window
      window.close();
    </script>
  </body>
</html>
